body,
html {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

html {
  background-color: #ecf0f1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in-out forwards;
}

input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
  text-align: center;
}

input::placeholder {
  color: white;
}

input:focus,
input:active {
  outline: none;
}

button {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
